.item {
  display: inline-block;
  border: .125rem solid #fff;
  outline: none;
  margin: .125rem;
  background-color: #bbb;

  &.complete {
    border-color: gold;
  }

  .xp-bar {
    width: 100%;
    opacity: .75;
    position: absolute;
    top: 0;
    background-color: #333;

    .xp {
      background-color: #3bb33b;
      height: 3px;
      display: inline-block;
    }
  }

  .icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    background-size: 100%;
  }

  .badge {
    position: absolute;
    display: inline-block;
    text-shadow: .0625rem .0625rem .03125rem rgba(0, 0, 0, 0.15);
    font-size: .59375rem;
    padding: 0 .125rem;
    box-sizing: border-box;
    min-width: 1rem;
    text-align: center;
  }

  &.elemental {
    .badge {
      text-shadow: .0625rem .0625rem .03125rem rgba(0, 0, 0, 0.65);
    }
  }

  .stat {
    bottom: 0;
    right: 0;
    background-color: #e6e6e6;
  }

  .quality {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-shadow: 0.0625rem 0.0625rem 0.03125rem rgba(0, 0, 0, 0.15);

    &.tier-0 {
      background-color: #e6e6e6;
    }

    &.tier-1 {
      background-color: hsl(0, 85%, 60%);
    }

    &.tier-2 {
      background-color: hsl(20, 85%, 60%);
    }

    &.tier-3 {
      background-color: hsl(60, 85%, 60%);
    }

    &.tier-4 {
      background-color: hsl(120, 85%, 60%);
    }

    &.tier-5 {
      background-color: hsl(190, 85%, 60%);
    }
  }

  .element {
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
  }

  &.arc {
    .element {
      background-image: url('../images/arc.png');
    }
    .stat {
      background-color: $arc;
      color: #fff;
    }
  }

  &.solar {
    .element {
      background-image: url('../images/solar.png');
    }
    .stat {
      background-color: $solar;
      color: #fff;
    }
  }

  &.void {
    .element {
      background-image: url('../images/void.png');
    }
    .stat {
      background-color: $void;
      color: #fff;
    }
  }

  &.has-quality {
    .stat {
      color: #000;
      background-color: transparent;
    }
  }
}

