.item {
  display: inline-block;
  border: 2px solid white;
  outline: none;

  &.complete {
    border-color: gold;
  }

  .icon {
    position: relative;
    width: 3rem;
    height: 3rem;
    background-size: 100%;
  }

  .badge {
    position: absolute;
    display: inline-block;
    opacity: .85;
    text-shadow: .0625rem .0625rem .03125rem rgba(0, 0, 0, 0.65);
    font-size: .59375rem;
    padding: 0 .125rem;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 1rem;
    text-align: center;
  }

  .stat {
    bottom: 0;
    right: 0;
    background-color: #fff;
  }

  .quality {
    bottom: 0;
    left: 0;
    width: 100%;

    &.tier-0 {
      background-color: #fff;
    }

    &.tier-1 {
      background-color: hsl(0, 85%, 60%);
    }

    &.tier-2 {
      background-color: hsl(20, 85%, 60%);
    }

    &.tier-3 {
      background-color: hsl(60, 85%, 60%);
    }

    &.tier-4 {
      background-color: hsl(120, 85%, 60%);
    }

    &.tier-5 {
      background-color: hsl(190, 85%, 60%);
    }
  }

  .element {
    top: 0;
    left: 0;
    width: .875rem;
    height: .875rem;
    background-size: 100%;
  }

  &.arc {
    .element {
      background-image: url('../images/arc.png');
    }
    .stat {
      background-color: $arc;
      color: white;
    }
  }

  &.solar {
    .element {
      background-image: url('../images/solar.png');
    }
    .stat {
      background-color: $solar;
      color: white;
    }
  }

  &.void {
    .element {
      background-image: url('../images/void.png');
    }
    .stat {
      background-color: $void;
      color: white;
    }
  }
}

