
<p>Last planned update before Rise of Iron.</p>
<ul style="margin: 0;padding:0;">
  <li>Restored armor ratings until 9/20 at 2AM Pacific.</li>
  <li>Added more logic to pick up the latest manifest file in case of corruption.</li>
  <li>Loadouts for multiplatform users will save items for both platforms when creating or editing a loadout.</li>
  <li>Certain uses who have had broken images in DIM have been fixed.</li>
</ul>
<p>We couldn't get tags+notes into DIM for Rise of Iron.  Issues with saving all the data, and syncing it.  We're still working on it.</p>
<p>Have fun dancing with the wolves Guardians!</p>
<p>
  Our full <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md"
  target="_blank">changelog</a> is available if you would like to know more.
</p>
<p>
  Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com"
  target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;"
  href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
</p>
