
<p>We're celebrating another year of Destiny with our <a href="https://github.com/DestinyItemManager/DIM/wiki/DIM-%23YearTwoGear-Giveaway" target="_blank">#YearTwoGear Giveaway</a>. We're giving away six of our DCC shirts and our VERY last Blacksmith Shader.</p>
<p>A few updates this week as we continue to catch up with the latest changes:</p>
<ul style="margin: 0;padding:0;">
  <li>0% Quality Ratign should be removed from items.</li>
  <li>Aim Assist shows up in the CSV.</li>
  <li>Improved the ability for DIM to recognize a change in the manifest.</li>
</ul>
<p>We're still working on <a href="https://twitter.com/ThisIsDIM/status/775422136966144000" target="_blank">tag+notes</a> and it will be available soon!</p>
<p>
  Our full <a href="https://github.com/DestinyItemManager/DIM/blob/master/CHANGELOG.md"
  target="_blank">changelog</a> is available if you would like to know more.
</p>
<p>
  Follow us on: <a style="margin: 0 5px;" href="http://destinyitemmanager.reddit.com"
  target="_blank"><i class="fa fa-reddit fa-2x"></i></a> <a style="margin: 0 5px;"
  href="http://twitter.com/ThisIsDIM" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
</p>
